<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gezhiwei.demo.dao.mapper.HcUserLoginRecordMapper" >
  <resultMap id="BaseResultMap" type="com.gezhiwei.demo.dao.entity.HcUserLoginRecord" >
    <id column="n_id" property="nId" jdbcType="BIGINT" />
    <result column="n_user_id" property="nUserId" jdbcType="BIGINT" />
    <result column="d_login_time" property="dLoginTime" jdbcType="TIMESTAMP" />
    <result column="s_cmd_name" property="sCmdName" jdbcType="VARCHAR" />
    <result column="s_phone_type" property="sPhoneType" jdbcType="VARCHAR" />
    <result column="s_os_version" property="sOsVersion" jdbcType="VARCHAR" />
    <result column="s_app_version" property="sAppVersion" jdbcType="VARCHAR" />
    <result column="s_phone_model" property="sPhoneModel" jdbcType="VARCHAR" />
    <result column="d_create_time" property="dCreateTime" jdbcType="TIMESTAMP" />
    <result column="s_created_by" property="sCreatedBy" jdbcType="VARCHAR" />
    <result column="d_update_time" property="dUpdateTime" jdbcType="TIMESTAMP" />
    <result column="s_updated_by" property="sUpdatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    n_id, n_user_id, d_login_time, s_cmd_name, s_phone_type, s_os_version, s_app_version, 
    s_phone_model, d_create_time, s_created_by, d_update_time, s_updated_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hc_user_login_record
    where n_id = #{nId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hc_user_login_record
    where n_id = #{nId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gezhiwei.demo.dao.entity.HcUserLoginRecord" >
    insert into hc_user_login_record (n_id, n_user_id, d_login_time, 
      s_cmd_name, s_phone_type, s_os_version, 
      s_app_version, s_phone_model, d_create_time, 
      s_created_by, d_update_time, s_updated_by
      )
    values (#{nId,jdbcType=BIGINT}, #{nUserId,jdbcType=BIGINT}, #{dLoginTime,jdbcType=TIMESTAMP}, 
      #{sCmdName,jdbcType=VARCHAR}, #{sPhoneType,jdbcType=VARCHAR}, #{sOsVersion,jdbcType=VARCHAR}, 
      #{sAppVersion,jdbcType=VARCHAR}, #{sPhoneModel,jdbcType=VARCHAR}, #{dCreateTime,jdbcType=TIMESTAMP}, 
      #{sCreatedBy,jdbcType=VARCHAR}, #{dUpdateTime,jdbcType=TIMESTAMP}, #{sUpdatedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gezhiwei.demo.dao.entity.HcUserLoginRecord" >
    insert into hc_user_login_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        n_id,
      </if>
      <if test="nUserId != null" >
        n_user_id,
      </if>
      <if test="dLoginTime != null" >
        d_login_time,
      </if>
      <if test="sCmdName != null" >
        s_cmd_name,
      </if>
      <if test="sPhoneType != null" >
        s_phone_type,
      </if>
      <if test="sOsVersion != null" >
        s_os_version,
      </if>
      <if test="sAppVersion != null" >
        s_app_version,
      </if>
      <if test="sPhoneModel != null" >
        s_phone_model,
      </if>
      <if test="dCreateTime != null" >
        d_create_time,
      </if>
      <if test="sCreatedBy != null" >
        s_created_by,
      </if>
      <if test="dUpdateTime != null" >
        d_update_time,
      </if>
      <if test="sUpdatedBy != null" >
        s_updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        #{nId,jdbcType=BIGINT},
      </if>
      <if test="nUserId != null" >
        #{nUserId,jdbcType=BIGINT},
      </if>
      <if test="dLoginTime != null" >
        #{dLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sCmdName != null" >
        #{sCmdName,jdbcType=VARCHAR},
      </if>
      <if test="sPhoneType != null" >
        #{sPhoneType,jdbcType=VARCHAR},
      </if>
      <if test="sOsVersion != null" >
        #{sOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="sAppVersion != null" >
        #{sAppVersion,jdbcType=VARCHAR},
      </if>
      <if test="sPhoneModel != null" >
        #{sPhoneModel,jdbcType=VARCHAR},
      </if>
      <if test="dCreateTime != null" >
        #{dCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sCreatedBy != null" >
        #{sCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dUpdateTime != null" >
        #{dUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sUpdatedBy != null" >
        #{sUpdatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gezhiwei.demo.dao.entity.HcUserLoginRecord" >
    update hc_user_login_record
    <set >
      <if test="nUserId != null" >
        n_user_id = #{nUserId,jdbcType=BIGINT},
      </if>
      <if test="dLoginTime != null" >
        d_login_time = #{dLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sCmdName != null" >
        s_cmd_name = #{sCmdName,jdbcType=VARCHAR},
      </if>
      <if test="sPhoneType != null" >
        s_phone_type = #{sPhoneType,jdbcType=VARCHAR},
      </if>
      <if test="sOsVersion != null" >
        s_os_version = #{sOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="sAppVersion != null" >
        s_app_version = #{sAppVersion,jdbcType=VARCHAR},
      </if>
      <if test="sPhoneModel != null" >
        s_phone_model = #{sPhoneModel,jdbcType=VARCHAR},
      </if>
      <if test="dCreateTime != null" >
        d_create_time = #{dCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sCreatedBy != null" >
        s_created_by = #{sCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dUpdateTime != null" >
        d_update_time = #{dUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sUpdatedBy != null" >
        s_updated_by = #{sUpdatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where n_id = #{nId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gezhiwei.demo.dao.entity.HcUserLoginRecord" >
    update hc_user_login_record
    set n_user_id = #{nUserId,jdbcType=BIGINT},
      d_login_time = #{dLoginTime,jdbcType=TIMESTAMP},
      s_cmd_name = #{sCmdName,jdbcType=VARCHAR},
      s_phone_type = #{sPhoneType,jdbcType=VARCHAR},
      s_os_version = #{sOsVersion,jdbcType=VARCHAR},
      s_app_version = #{sAppVersion,jdbcType=VARCHAR},
      s_phone_model = #{sPhoneModel,jdbcType=VARCHAR},
      d_create_time = #{dCreateTime,jdbcType=TIMESTAMP},
      s_created_by = #{sCreatedBy,jdbcType=VARCHAR},
      d_update_time = #{dUpdateTime,jdbcType=TIMESTAMP},
      s_updated_by = #{sUpdatedBy,jdbcType=VARCHAR}
    where n_id = #{nId,jdbcType=BIGINT}
  </update>
</mapper>